.root {
  max-height: calc(100% - 5rem);

  @media screen and (min-width: 900px) {
    max-height: 100%;
  }
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}

.label + .title {
  margin-top: 0.2em;
}

.title {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.image {
  display: block;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  z-index: 1;
  max-width: calc(100% - 3rem);
  margin: 0 auto;
  height: auto;

  @media screen and (min-width: 900px) {
    max-width: 100%;
  }
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: var(--width-small);
  z-index: 1;

  @media screen and (min-width: 900px) {
    max-width: 100%;
    display: flex;
    gap: 2rem;

    img {
      max-width: 50%;
    }
  }
}

.content figcaption {
  box-sizing: border-box;
  max-width: var(--width-small);
  position: relative;
  z-index: -1;

  @media screen and (min-width: 900px) {
    max-width: 50%;
    z-index: 0;
  }
}

.caption {
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  height: 100%;
  border: 1px solid var(--main-brand-color);
  width: 100%;
  padding-top: 5rem;
  transform: translateY(-5rem);

  @media screen and (min-width: 900px) {
    padding-top: 0;
    transform: translateY(0);
    border: none;
  }
}

.captionBox {
  padding: 1.5rem;
}
