.root {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-white);
}

.root[data-hide-nav="true"] {
  transform: translateY(-100%);
}
.content {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  margin: 0 auto;
  max-width: var(--width-large);
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.root[data-show-nav="true"] .branding svg {
  color: var(--color-white, #fff);
}

.branding {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 674px) {
  .branding {
    flex: 1;
  }
}

.branding > a {
  display: block;
  padding-block: 1.5rem;
  padding-left: 1rem;
}

.nav {
  @media only screen and (min-width: 675px) {
    flex: 1;
  }
}

.navItems {
  padding: 0;
  margin: 0;

  @media only screen and (min-width: 675px) {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  .navItems {
    padding-top: env(safe-area-inset-top);
  }
}

@media only screen and (max-width: 674px) {
  .navItems {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--color-black, #000);
    color: var(--color-white, #fff);
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .root[data-show-nav="false"] .navItems {
    opacity: 0;
    visibility: hidden;
  }

  .root[data-show-nav="true"] .navItems {
    opacity: 1;
    visibility: visible;
  }
}

.navItem {
  display: flex;
  white-space: nowrap;
  align-items: stretch;
  line-height: calc(var(--font-base-line-height) * 1.5rem);
}

.navItem > a {
  position: relative;
  padding: 1.5rem 0.5rem;
}

.root[data-is-active="true"] .navItem > a {
  font-weight: bold;
}

.root[data-hide-nav="true"] .navItem > a[data-is-active="true"]::before {
  display: none;
}

@media screen and (min-width: 675px) {
  .navItem {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 674px) {
  .navItem {
    justify-content: center;
    align-items: center;
  }

  .navItem > a {
    padding: 1rem 1.5rem;
    width: fit-content;
    box-sizing: border-box;
  }
}

.showNavButton {
  appearance: none;
  border: none;
  font: inherit;
  background: none;
  color: inherit;
  margin: 0;
  outline: none;
  z-index: 1;
  transition: color 0.3s ease-in-out;
  overflow: hidden;
  height: 100%;
}

@media screen and (min-width: 675px) {
  .showNavButton {
    display: none;
  }
}

.root[data-show-nav="true"] .showNavButton {
  color: var(--color-white, #fff);
}

.hamburgerIcon {
  font-size: calc(var(--font-base-line-height) * 1.5rem);
  display: block;

  @media (--media-min-medium) {
    display: none;
  }
}
